/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 11, 2018, 11:20:05 AM
    Author     : ukritpra
*/

body {
   background-color: wheat;
   
   font-family: 'Kanit', sans-serif;

}
input[type=text], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
   
}
input[type=password], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
   
}

input[type=submit] {
    width: 6%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Kanit', sans-serif;
   
}
input[type=button] {
    width: 6%;
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Kanit', sans-serif;
    
}

input[type=submit]:hover {
    background-color: #45a049;
    font-family: 'Kanit', sans-serif;
}